.button {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  font-family: var(--typography-controls-font-family);
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  color: inherit;
  user-select: none;
  -webkit-tap-highlight-color: var(--color-webkit-tap-highlight);

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    cursor: default;
  }
}
