.button_size_m {
  font-size: var(--button-size-m-font-size);
  line-height: var(--button-size-m-line-height);
  letter-spacing: var(--button-size-m-letter-spacing);
  padding: var(--button-size-m-space-all);
}
