.control-panel_view_default {
  .control-panel__button-group {
    display: flex;
    flex-flow: column wrap;
    gap: 2px;

    // postcss-custom-media
    @media (--sm-min) {
      flex-direction: row;
    }
  }
}
